[project]
	description = Degree of Separation on Twitter
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Narendra Joshi (narendraj9)
[access "refs/for/refs/*"]
	read = group user/Narendra Joshi (narendraj9)
	push = group user/Narendra Joshi (narendraj9)
	label-Code-Review = -2..+2 group user/Narendra Joshi (narendraj9)
	label-Verified = -1..+1 group user/Narendra Joshi (narendraj9)
	rebase = group user/Narendra Joshi (narendraj9)
	removeReviewer = group user/Narendra Joshi (narendraj9)
	submit = group user/Narendra Joshi (narendraj9)
[access "refs/heads/*"]
	read = group user/Narendra Joshi (narendraj9)
	create = group user/Narendra Joshi (narendraj9)
	push = +force group user/Narendra Joshi (narendraj9)
	pushMerge = group user/Narendra Joshi (narendraj9)
[access "refs/tags/*"]
	push = +force group user/Narendra Joshi (narendraj9)
	pushTag = group user/Narendra Joshi (narendraj9)
	pushSignedTag = group user/Narendra Joshi (narendraj9)
